body{
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    background: #c0c0aa;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-right: 80px;
}
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    flex: 0.5;
}
.heading{
    font-size: 1.8rem;
    text-align: left;
}